<div class="container">
  <div class="title">
    <h1>About Me</h1>
  </div>

  <div class="down">
    <div class="about-photo">
      <img src="../../assets/profile.jpg" alt="" />
    </div>
    <div class="content">
      <p>
        <span> Hi There! </span>
        <br />
        <br />

        I'm computer science and engineering student. I am very interested in
        coding and programming related topics.<br />
        <br />
        I can convert any Figma file to HTML/CSS/SCSS with pixel-perfect. <br />
        <br />
        I want to do frontend and backend work with javascript programming
        language. So now I am learning MERN stack development. And I hope to
        continue working hard until I reach my goal.
      </p>
    </div>
  </div>

  <div class="achieved">
    <h2>achieved</h2>
    <div class="papers">
      <img src="../../assets/Htmlcss.png" alt="" />
      <img src="../../assets/js1.png" alt="" />
      <img src="../../assets/js.png" alt="" />
    </div>
  </div>
</div>
