:host {
  display: block;
  color: #fff;
  padding: 48px 32px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 16px 0;
  text-align: center;
  letter-spacing: 1px;
  color: var(--green);
  outline: 1px solid white;
  font-family: "Roboto Condensed", sans-serif;
}

.all-project {
  height: 100%;
  width: 450px;
}

.all-project img {
  height: 100%;
  width: 300px;
}

// =====PC MODE=====

:host.pc .projects {
  display: flex;
  justify-content: center;
}

:host.pc .all-project {
  height: 600px;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

:host.pc .all-project img:hover {
  box-shadow: 1px 1px 42px 0px rgb(255, 255, 253);
}

// ========RESPONSIVE========

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .all-project {
    height: 100%;
    width: 300px;
  }

  .all-project img {
    height: 100%;
    width: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .all-project {
    height: 100%;
    width: 400px;
  }

  .all-project img {
    height: 100%;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .all-project {
    height: 100%;
    width: 400px;
  }

  .all-project img {
    height: 100%;
    width: 300px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .all-project {
    height: 100%;
    width: 500px;
  }

  .all-project img {
    height: 100%;
    width: 400px;
  }
}
