<div class="container">
  <h1>My Projects</h1>
  <div class="projects">
    <div class="all-project">
      <img src="../../assets/images/img1.png" alt="" />
      <img src="../../assets/images/img3.png" alt="" />
      <img src="../../assets/images/img7.png" alt="" />
      <img src="../../assets/images/img8.png" alt="" />
      <img src="../../assets/images/img9.png" alt="" />
      <img src="../../assets/images/img10.png" alt="" />
      <img src="../../assets/images/img11.png" alt="" />
      <img src="../../assets/images/img12.png" alt="" />
      <img src="../../assets/images/img15.png" alt="" />
    </div>
  </div>
</div>
